*.xcworkspacedata
*.xcuserstate
*.xcscheme
*.suo
*.sdf
*.opensdf
xcschememanagement.plist
demo/get-started/windows/x64/
demo/get-started/windows/Debug/
demo/scene-rendering/windows/x64/
demo/vertex-texture-fetch/windows/x64/
demo/vertex-texture-fetch/windows/Release/
demo/rt/x64/
demo/rt/Debug/
demo/rt/Release/
projects/et-dynamic/x64/
projects/et-static-win/x64/
projects/x64/
projects/Debug/
lib/win64/et-Debug.lib
lib/win64/et-Release.lib
*.opendb
