*.xcworkspacedata
*.xcuserstate
*.xcscheme
demo/get-started/windows/x64/
demo/get-started/windows/Debug/
*.suo
*.sdf
*.opensdf
demo/scene-rendering/windows/x64/
demo/vertex-texture-fetch/windows/x64/
demo/vertex-texture-fetch/windows/Release/
demo/rt/x64/
xcschememanagement.plist
demo/rt/Debug/
demo/rt/Release/
